<% include ../layouts/cabecera.ejs %> 


        <br/>
        <br/>
        <a href="/libros/crear" class="btn btn-primary" type="button">Crear un nuevo registro</a>
        <br/>
        <br/>



        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>MARCA</th>
                    <th>MODELO</th>
                    <th>AÑO</th>
                    <th>PLACA</th>
                    <th>ESTADO</th>
                    <th>ACCIONES</th>
    
                </tr>
            </thead>
            <tbody>
                <% for( let libro = 0; libro < libros.length; libro++ ) { %>
                    <tr>
                        <td> <%=libros[libro].id%> </td>
                        <td> <%=libros[libro].marca%> </td>
                        <td> <%=libros[libro].modelo%> </td>
                        <td> <%=libros[libro].año%> </td>
                        <td> <%=libros[libro].placa%> </td>
                        <td> <%=libros[libro].estado%> </td>
                
                        <td> <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                            <form class="form-inline" method="get" action="/libros/editar/<%=libros[libro].id%>">
                                <button class="btn btn-warning" type="submit">Editar</button>
                                
                            </form>
                            
                        </div> 
                                | 
                            
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

                                <form class="form-inline" method="post" action="/libros/eliminar/<%=libros[libro].id%>">
                                    <button class="btn btn-danger" type="submit">Borrar</button>
                                    
                                </form>
                                
                            </div>
                            
                        </td>
                    </tr>
    
                <% } %>
                
    
            </tbody>
        </table>

        <% include ../layouts/pie.ejs %>     